.wrapper {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 385px);

}

.item-first {
  background: #f6f6f6;
  display: flex;
  margin-bottom: 24px;

  .news-image {
    width: 448px;
  }

  .news-details {
    width: calc(100% - 448px);
    padding: 16px;
    padding-left: 32px;

    .news-title {
      max-height: 150px;
      overflow: hidden;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #292929;
      display: block;
      margin-bottom: 16px;

      &:hover {
        color: var(--default-color-hover);
      }
    }

    .news-content {
      max-height: 88px;
      overflow: hidden;
      font-family: Inter;
      font-size: 15px;
    }
  }
}

.items-related {
    display: flex;
    margin-bottom: 24px;
    margin-left: -16px;
}

.nav-link:hover {
  color: #0098d1 !important;
}
