.wrapper {
    margin-top: 24px;
}

.container {
    // width: 1150px !important;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;

    a:hover {
        color: var(--default-color-hover);
    }
}
