.wrapper{
    // background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    // align-items: center;
    top: 100px;
    transition: all 0.3s;

    h5{
        color: red;
    }

}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6) none;
    z-index: -1;
}

.container{
    padding: 0 40px 30px;
    background: #fff none;
    width: 100%;
    max-width: 460px;
    position: relative;
    border-radius: 3px;
    overflow-y: auto;
    max-height: 100vh;
}

.nav{
    margin: 0 -40px;
    display: flex;
    flex-wrap: wrap;

    button{
        flex: 0 0 auto;
        max-width: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        color: #999;
        font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue","Arial","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
        border: 0;
        padding: 0;
        border-radius: 0;
        background: #eee none;
    }

    .active{
        background: #fff none;
        color: #333;
    }
}

.control{
    margin: 16px 0 0;
    text-align: left;

    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 44px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: #f8fafc;
        font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue","Arial","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
        border: 0;
        padding: 0;
        border-radius: 5px;
        background: #1a7900 none;
    }
}

.label{
    color: #1a1a1a;
    font-weight: 500;
    margin: 10px 10px 0;
    display: block;

}

.input{
    width: 100%;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 16px 10px;
    font-size: 14px;
    line-height: 22px;
    color: #333;
    outline: 0;
}

.password{
    position: relative;
    button{
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;
        display: block;
        border: 0;
        border-radius: 0;
        padding: 0;
        background: transparent none;
        font-size: 24px;
        color: gray;

        font-size: 16px;
    }
}

.avatar{
    width: 100px;
    height: 100px;   

}

.required{
    position: relative;

}

.required::after{
    content: '*';
    color: red;
    position: absolute;
    top: -2px;
    left: -10px;
}

